* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navbar_container {
    max-width: 1231px;
    width: 100%;
    margin-inline-start: auto;
    background-color: #F7F4FF;
    padding: 12px 24px;
    margin-bottom: 142px;
}

#navbar {
    max-width: 1183px;
    width: 100%;
    margin: 0 auto;
}

#footer_logo {
    vertical-align: middle;
}

#linkbox_container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 271px;
    margin-right: 271px;
}

.linkbox {
    color: #323;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#link_offer {
    padding-left: 20px;
    padding-right: 20px;
}

#contact_decoration {
    color: #8E26C0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    padding-right: 20px;
}

#navbar_button {
    color: #8E26C0;
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    font-style: normal;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    background-color: #fff;
    vertical-align: middle;
    padding: 8px 16px;
    cursor: pointer;
}

/* MAAAAINNN */

#main_one_container {
    max-width: 1299px;
    width: 100%;
    max-height: 458px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 83px;
}

#signhere_svg_container {
    max-width: 610px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

#whatweoffer_container {
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 644px;
    height: 325px;
    margin-top: 20px;
}

#whatweoffer_heading_container {}

#whatweoffer_heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#whatweoffer_content_container {
    padding-bottom: 16px;
    padding-top: 16px;
}

#whatweoffer_content {
    color: #535862;
    font-family: Prata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

#whatweoffer_list_container {
    list-style-position: inside;
    padding-left: 10px;
}

.whatweoffer_list_content {
    color: #000;
    font-family: "Fira Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 12px;
}

/* section two of the main content */

#main_two_container {
    max-width: 1221px;
    width: 100%;
    max-height: 706px;
    height: 100%;
    margin: 0 auto;
}

#main_two_top_container {
    max-width: 905px;
    width: 100%;
    max-height: 140px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 28px;
}

#main_two_heading_container {
    margin-bottom: 18px;
}

#main_two_heading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
}

#main_two_content_container {}

#main_two_content {
    color: #535862;
    line-height: 27px;
    text-align: center;
    font-family: Prata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}


/* bottom part of the second section */

#main_bottom_container {
    max-width: 1221px;
    width: 100%;
    height: 538px;
    padding: 32px;
    border-radius: 16px;
    background-color: #F7F4FF;
}

#contact_info_container {
    display: inline-block;
    vertical-align: middle;
    max-width: 403px;
    width: 100%;
    height: 474px;
    margin-right: 24px;
    padding: 20px 20px 235px 20px;

}

#contact_info {
    max-width: 363px;
    width: 100%;
    height: 219px;
}

#address_container {
    background-color: yellow;
    margin-bottom: 25px;
    max-width: 363px;
    width: 100%;
    max-height: 57px;
    height: 100%;
}

#email_container {
    background-color: brown;
    margin-bottom: 25px;
    max-width: 363px;
    width: 100%;
    height: 56px;
}

#phone_container {
    background-color: lime;
    max-width: 363px;
    width: 100%;
    height: 56px;
}

#address_logo_container {
    display: inline-block;
    vertical-align: middle;
    max-width: 56px;
    width: 100%;
    height: 56px;
    margin-right: 16px;
    padding: 10px;
}

#address_logo {
    border-radius: 50px;
    background-color: #F7F4FF;
    border: none;
}

#address_heading_container {
    display: inline-block;
    vertical-align: middle;
    max-width: 291px;
    width: 100%;
    margin-bottom: 6px;
}

#address_content_container {
    display: inline-block;
    vertical-align: middle;
    max-width: 291px;
    width: 100%;
}

#address_heading {
    line-height: 29px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-family: Phetsarath;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#address_content {
    line-height: 22px;
    color: #6D5F8B;
    font-family: Prata;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}